@use "@angular/material" as mat;

@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-content {
  width: 75%;
  margin-left: 5%;
}

.page-header {
  padding: 10px;
  margin-top: 10px;
}
