<div class="app-content">
  <!-- <div class="page-header">
    <h1 class="mat-display-2">Tasks</h1>
  </div> -->
  <mat-toolbar color="primary">
    <span>Tasks</span>
    <span class="header-spacer"></span>
    <span>
      <button
        mat-icon-button
        class="add-icon"
        aria-label="New task button with a plus icon"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-icon-button
        class="edit-icon"
        aria-label="Edit button with a pencil symbol"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <mat-nav-list>
    <mat-list-item class="task-list-item">
      <mat-icon matListIcon>task_alt</mat-icon>
      <h1 matLine>Task Name</h1>
      <p matLine>Task Info</p>
      <p>1h 24m</p>
      <button
        mat-icon-button
        class="favorite-icon"
        aria-label="favorite button with a star icon"
      >
        <mat-icon>star_outline</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item class="task-list-item">
      <mat-icon matListIcon>task_alt</mat-icon>
      <h1 matLine>Task Name</h1>
      <p matLine>Task Info</p>
      <p>1h 24m</p>
      <button
        mat-icon-button
        class="favorite-icon"
        aria-label="favorite button with a star icon"
      >
        <mat-icon>star_outline</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item class="task-list-item">
      <mat-icon matListIcon>task_alt</mat-icon>
      <h1 matLine>Task Name</h1>
      <p matLine>Task Info</p>
      <p>1h 24m</p>
      <button
        mat-icon-button
        class="favorite-icon"
        aria-label="favorite button with a star icon"
      >
        <mat-icon>star_outline</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item class="task-list-item">
      <mat-icon matListIcon>task_alt</mat-icon>
      <h1 matLine>Task Name</h1>
      <p matLine>Task Info</p>
      <p>1h 24m</p>
      <button
        mat-icon-button
        class="favorite-icon"
        aria-label="favorite button with a star icon"
      >
        <mat-icon>star_outline</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item class="task-list-item">
      <mat-icon matListIcon>task_alt</mat-icon>
      <h1 matLine>Task Name</h1>
      <p matLine>Task Info</p>
      <p>1h 24m</p>
      <button
        mat-icon-button
        class="favorite-icon"
        aria-label="favorite button with a star icon"
      >
        <mat-icon>star_outline</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
